@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --cc-primary: hsl(0, 0%, 8%);
  --cc-secondary: hsl(0, 0%, 98%);
  --cc-tertiary: hsl(0, 0%, 41%);
  --ff-main: "Epilogue", sans-serif;
  --fw-med: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-main);
}

body {
  min-height: 100vh;
  background: #eee;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

/* Mobile Navigation Menu */
.overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.nav {
  display: flex;
  padding: 15px;
  align-items: center;
}

.btn--show-menu {
  margin-left: auto;
}

.nav__menu-container {
  background: var(--cc-secondary);
  color: var(--cc-tertiary);
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: clamp(250px, 70%, 260px);
  padding: 15px 25px;
  font-size: 1.1rem;
  /*   Scroll menu without scrolling page */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.btn--close-menu {
  align-self: end;
}

.nav__item {
  margin: 30px 0;
}

.nav__submenu-container,
.nav__submenu-container--collapsed {
  position: relative;
  transition: all ease 0.5s;
}

.nav__submenu-container::after {
  transition: all ease 0.5s;
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: black;
  top: 0;
  right: 55%;
  transform: translate(50%, 0%);
  background: url("images/icon-arrow-up.svg") no-repeat center;
  cursor: pointer;
}

.nav__submenu-container--collapsed .nav__submenu {
  display: none;
}

.nav__submenu-container--collapsed::after {
  transform: translate(50%, 0%) rotate(180deg);
}

.nav__submenu {
  margin-left: 25px;
  /*   display: none; */
}

.nav__sub-link {
  margin: 25px 5px;
}

.nav__sub-link img {
  margin-right: 5px;
}

.nav__buttons {
  /*   background: #aaa; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.nav__buttons .btn {
  /*   background: #999; */
  width: 100%;
  height: 40px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.nav__link,
.nav__buttons .btn {
  transition: all ease 0.5s;
}

.nav__link:hover,
.nav__buttons .btn:hover {
  color: var(--cc-primary);
  font-weight: 700;
}

.btn--register {
  border: 1px solid var(--cc-primary);
  border-radius: 10px;
}

.btn--register:hover {
  border: 2px solid;
}

/* Hero Image - mobile */
.main__img--desktop {
  display: none;
}

.main__img--mobile {
  width: 100%;
}

/* Main content - mobile */
.main__content {
  /*   background: #bbb; */
  text-align: center;
  padding: 50px 5px;
}

.main__content h1 {
  font-size: 2.2rem;
}

.main__content p {
  margin: 20px 5px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--cc-tertiary);
}

.btn--learn-more {
  width: 135px;
  height: 45px;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background: var(--cc-primary);
  color: var(--cc-secondary);
  cursor: pointer;
  transition: all ease 0.5s;
}

.btn--learn-more:hover {
  color: var(--cc-primary);
  background: var(--cc-secondary);
  border: 1px solid;
}

/* Clients - mobile */
.main__clients {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main__clients img {
  width: 75px;
}

@media screen and (min-width: 1000px) {
  body {
    /*     might change */
    /*     nav needs to be sticky later */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*     background: pink; */
  }
  /*   Desktop and Tablet Nav menu */
  .btn--show-menu,
  .btn--close-menu,
  .overlay {
    display: none;
  }

  .header {
    /*     may remove later to make nav sticky */
    grid-column: 1 / -1;
    height: fit-content;
  }

  .nav__menu-container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow-y: unset;
    font-size: 0.9rem;
    background: transparent;
  }

  .nav__links {
    display: flex;
    width: 50%;
    align-items: center;
  }

  .nav__item {
    margin: 15px 25px;
  }

  .nav__submenu-container {
    display: flex;
    justify-content: center;
  }

  .nav__submenu-container::after {
    right: -10px;
  }

  .nav__submenu {
    background: white;
    position: absolute;
    width: calc(100% + 50px);
    transform: translateY(35px);
    border-radius: 5px;
    line-height: 2.5;
    padding: 15px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
    top: -10px;
  }

  .nav__submenu-container:nth-child(1) > .nav__submenu {
    right: -15px;
    width: calc(100% + 75px);
  }

  .nav__submenu-container:nth-child(2) > .nav__submenu {
    left: -30px;
    width: calc(100% + 35px);
  }

  .nav__sub-link {
    margin: unset;
  }

  .nav__buttons {
    flex-direction: row;
  }

  .main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .main__content {
    grid-row: 1;
    grid-column: 2 / span 5;
    text-align: left;
    margin-top: 30px;
  }

  .main__content h1 {
    font-size: 4.5rem;
    padding-right: 35px;
  }

  .main__content p {
    font-size: 1.1rem;
    margin: 55px 0;
    padding-right: 55px;
  }

  /*   Hero images */
  .main__img--mobile {
    display: none;
  }

  .main__img--desktop {
    display: revert;
    grid-column: 8 / span 4;
    grid-row: 1;
    width: 100%;
  }

  .main__clients {
    display: none;
  }
}
